<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Flight creation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header::header"></header>



<div class="container mt-5 mb-5">
    <h1>Flight creation</h1>


    <form method="POST" th:action="@{/flight-save}" th:object="${flight}">
        <input type="hidden" th:value="${flight.id}" name="id"  class="form-control"><br>
        <h3>Flight date</h3>
        <input type="date" th:value="${flight.flightDate}" name="flightDate" placeholder="Enter flight date" class="form-control"><br>
        <h3>Flight time</h3>
        <input type="time" th:value="${flight.flightTime}" name="flightTime" placeholder="Enter flight time" class="form-control"><br>
        <h3>Flight number</h3>
        <input type="text" th:value="${flight.flightNumber}" name="flightNumber" placeholder="Enter flight number" class="form-control"><br>



        <h3>Airplane</h3>


        <select th:field="*{airplane.id}" class="mb-3 form-control" >
            <option th:each="airplane: ${airplanes}" th:value="${airplane.id}" th:text="'#'+${airplane.id}+${airplane.brand}+' '+ ${airplane.model} +' '+ '('+${airplane.passengerCapacity}+ passengers+')'+' '+ ${airplane.boardNumber} "></option>
        </select>


        <h3>Pilot</h3>



        <select th:field="*{pilot.id}" class="mb-5 form-control" >
            <option th:each="pilot: ${pilots}" th:value="${pilot.id}" th:text="'#'+${pilot.id}+${pilot.firstName}+' '+ ${pilot.lastName} +' '+ ${pilot.pilotRank}+' '+ ${pilot.pilotCode} "></option>
        </select>
        <button type="submit" class="btn btn-success">Save</button>

    </form>



</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>