<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Рейс детали</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<header th:insert="blocks/header::header"></header>

<div class="container mt-5">

    <h1>Flight</h1>
    <table class="table table-sm table-bordered">
        <thead>
        <tr class="table-info">
            <th scope="col">Flight date</th>
            <th scope="col">Flight time</th>
            <th scope="col">Flight number</th>
            <th colspan="2" scope="col">Action</th>
        </tr>
        </thead>

        <tbody>
        <div th:each="el: ${flight}" >
            <tr class="table-info">
                <td><h5 th:text="${el.flightDate}" /></td>
                <td><h5 th:text="${el.FlightTime}" /></td>
                <td><h5 th:text="${el.flightNumber}" /></td>
                <td><a th:href="'/flight-edit/' + ${el.id}" class="btn btn-warning">Edit</a></td>
                <td><a th:href="'/flight-delete/' + ${el.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </div>
    </table>

    <h3>Airplane</h3>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col">Brand</th>
            <th scope="col">Model</th>
            <th scope="col">Passenger capacity</th>
            <th scope="col">Board number</th>
            <th scope="col">Information</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="el: ${flight.getAirplane}" >
            <tr>
                <td><h5 th:text="${el.brand}" /></td>
                <td><h5 th:text="${el.model}"/></td>
                <td><h5 th:text="${el.passengerCapacity}" /></td>
                <td><h5 th:text="${el.boardNumber}" /></td>
                <td><a th:href="'/airplane/' + ${el.id}" class="btn btn-primary">More details</a></td>
            </tr>

        </div>
        </tbody>
    </table>

    <h3>Pilot</h3>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Pilot Rank</th>
            <th scope="col">Pilot Code</th>
            <th scope="col">Information</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="el: ${flight.getPilot}" >
            <tr>
                <td><h5 th:text="${el.firstName}" /></td>
                <td><h5 th:text="${el.lastName}"/></td>
                <td><h5 th:text="${el.pilotRank}" /></td>
                <td><h5 th:text="${el.pilotCode}" /></td>
                <td><a th:href="'/pilot/' + ${el.id}" class="btn btn-primary">More details</a></td>
            </tr>

        </div>
        </tbody>
    </table>


</div>

<div th:insert="blocks/footer::footer"></div>
</body>
</html>